<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    <!--A page that has a div with a neon background color, and it's in the center-->
    <div style="width: 100%; height: 100vh; background-color: rgb(9, 10, 10); display: flex; justify-content: center; align-items: center">
        <!--A div that contains a text-->
        <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
            <h1 style="font-size: 20px;">Hello, World!</h1>
        </div>
    </div>
</body>
</html>